{% load static%}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}base{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'mycss/header.css' %}" rel="stylesheet">
    <link href="{% static 'mycss/footer.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <![endif]-->
    {% block css %}{% endblock %}

  </head>
  <body>
    <header>
		<div  class=" header">
 			<div class="top">
				<div class="wp">
					<div class="fl" style="margin-left: 50px; "><p><b>污水处理线上教学平台</b></p></div>
					<!--登录后跳转-->
						{% if user.is_authenticated %}
                            <div class="personal">
                                <div class="userdetail">

                                    <div class="btn">
                                        <a class="personcenter fl" href="{% url 'user_center' %}">进入个人中心</a>
                                        <a class="fr" href="{% url 'logout' %}">退出</a>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <a style="color:white" class="registerbtn" href="{% url 'register' %}">注册</a>
                            <a style="color:white" class="loginbtn" href="{% url 'login' %}">登录</a>
                            <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
                        {% endif %}
				</div>
			</div>

    <nav class="navbar navbar-default">
     <div class="collapse navbar-collapse" id="my-nav">
          <ul class="nav navbar-nav" style="margin-left: -160px;" >
            <li class="active"><a href="{% url 'index' %}">主页</a></li>
            <li class="active"><a href="{% url 'course_list' %}">课程</a></li>
            <li class="active"><a href="{% url 'teacher_list' %}">教师</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">搜索</button>
          </form>

        </div>
    </nav>
 {% block content %}{% endblock %}
<footer>
		<div class="footer">
            <div class="cont" >
                <h3 style="font-size: 20px; letter-spacing: 1px; border-bottom: 1px solid #fff; padding: 0 0 15px; margin: 17px 0 15px; color: #fff;">联系我们</h3>
                <p style="font-size: 14px; ">地址：广东省广州市海珠区纺织路东沙街24号仲恺农业工程学院</p>
                <p style="font-size: 14px; ">电话：020-89003030</p>
                <p style="font-size: 14px; ">邮箱：zsb@zhku.edu.cn</p>
                <p style="font-size: 14px; ">官网：http://www.zhku.edu.cn</p>
          </div>
        </div>
</footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js_plus/jquery-3.1.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>